/* 設定 html, body 抓到瀏覽器的高度 */
html,
body {
  height: 100%;
}

body {
  font-family: 'Noto Sans TC', sans-serif;

  background: #333;

  box-sizing: border-box;
}

.h-100 {
  height: 100%;
}

/* ----------------------------------------------------- */

#header {
  background: #333;
  color: white;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  z-index: 2;
}

.row {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #555;

  position: relative;
}

/* logo ------------------------------------------------ */
#header .logo {
  /* 浮動靠左側 */
  float: left;
  /* 解決幽靈空間的問題 */
  font-size: 0;
  line-height: 50px;
}

#header .logo i,
#header .logo a {
  display: inline-block;
}

#header .logo i {
  font-size: 1.5rem;
  padding: 0 1rem;
  vertical-align: top;
  line-height: 50px;
}

#header .logo a {
  height: 80%;
  vertical-align: middle;
}

#header .logo img {
  height: 100%;
}

/* search ---------------------------------------------- */
/* 定位在中間 */
#header .search {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  /* 垂直置中 */
  line-height: 50px;
  /* input 和 button 都是 inline-block, 要解決幽靈空間的問題 */
  font-size: 0;
}

#header .search input,
#header .search button {
  /* 把替代元素本身的樣式設定都拿掉 */
  appearance: none;
  border: none;
  outline: none;
  /* 讓 input 和 button 對齊 */
  vertical-align: middle;
}

#header .search input {
  width: 500px;
  height: 30px;
  background: #000;
  color: white;
}

#header .search input::placeholder {
  color: #ccc;
}

/* 第一個按鈕 */
#header .search button:nth-of-type(1) {
  width: 40px;
  height: 32px;
  background: #555;
  color: #ccc;
}

/* 第二個按鈕 */
#header .search button:nth-of-type(2) {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #000;
  color: white;
  margin-left: 0.5rem;
}

/* menu ------------------------------------------------ */
#header .menu {
  /* 浮動靠右側 */
  float: right;
  /* 解決幽靈空間的問題 */
  font-size: 0;
  line-height: 50px;
}

#header .menu i,
#header .menu button {
  display: inline-block;
}

/* 指針對 menu 下一層的 i 去設定樣式 */
#header .menu > i {
  font-size: 1.5rem;
  padding: 0 1rem;
  /* 針對容器內為 inline-block */
  /* 如果要在容器內下 line-hight 來完成垂直置中 */
  /* 前提是下 vertical-align: middle 之外的屬性值 */
  vertical-align: top;
  /* 垂直置中 */
  line-height: 50px;
}

#header .menu button {
  width: 80px;
  height: 30px;
  font-size: 1rem;
  /* 針對容器內為 inline-block */
  /* 如果要在容器外下 line-hight 來完成垂直置中 */
  /* 前提是 vertical-align: middle */
  vertical-align: middle;
  margin: 0 5px;
  border: 1px solid steelblue;
  background: transparent;
  color:steelblue;
}

#header .menu span {
  padding-left: 0.5rem;
}

/* 第二列 menu2 ----------------------------------------- */
#header .menu2 {
  width: 80%;
  float: right;
  text-align: center;
  margin-right: 1rem;
}

#header .menu2 li {
  display: inline-block;
  border-radius: 50px;
  background: #333;
  border: 1px solid #ccc;
  margin: 10px 4px;
}

#header .menu2 a {
  display: block;
  text-decoration: none;
  color: white;
  border-radius: 50px;
  padding: 0.5rem 1rem;
}

#header .menu2 a:hover {
  background: white;
  color: #000;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

/* listbar --------------------------------------------- */
#left {
  width: 20%;
  /* 這條側邊欄的長度, 是整個視窗高度要減掉下移的部分 */
  /* calc() 可適用在不同單位的四則運算 */
  height: calc(100% - 51px);
  position: fixed;
  top: 51px;
  left: 0;
  background: #333;
  overflow: auto;
  z-index: 3;
}

#left .list1 {
  border-bottom: 1px solid #555;
  padding: 10px 1rem;
}

#left .list1 li {
  line-height: 40px;
  color: white;
  font-size: 1rem;
}

#left .list1 li i,
#left .list1 li span {
  padding: 0 1rem;
}

/* ----------------------------------------------------- */
#left .p1 {
  border-bottom: 1px solid #555;
  padding: 10px 1rem;
}

#left .p1 p {
  font-size: 1rem;
  padding: 1rem;
  color: white;
}

#left .p1 button {
  width: 100px;
  height: 30px;
  margin: 0 0 5px 1rem;
  font-size: 1rem;
  border: 1px solid steelblue;
  background: transparent;
  color:steelblue;
}

#left .p1 button span {
  padding-left: 1rem;
}

/* ----------------------------------------------------- */
#left .list2 {
  border-bottom: 1px solid #555;
  padding: 10px 1rem;
}

#left .list2 li {
  line-height: 40px;
  color: white;
}

#left .list2 button {
  appearance: none;
  border: none;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #555;
  color: #ccc;
  font-size: 1rem;
  margin: 0 0.5rem 0 1rem;
  position: relative;
}

#left .list2 i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#left .list2 li span {
  padding: 0 1rem;
}

/* footer ---------------------------------------------- */
#footer {
  padding: 10px 1rem;
}

#footer p {
  font-size: 0.5rem;
  color: #ccc;
  padding: 5px 1rem;
  line-height: 20px;
}

/* right ---------------------------------------------------- */
#right {
  width: 80%;
  position: relative;
  left: calc(20% + 2px);
  top: 102px;
  z-index: 1;
}

#right #row {
  width: 100%;
}
#right #col {
  width: 25%;
  float: left;
}

#right .card {
  padding: 1rem;

  transition: 0.5s;
}

#right .card:hover {
  transform: translateY(-20px);
}

#right .cardth img {
  width: 100%;
  height: 100%;
}

#right .cardtd {
  font-size: 0;
  height: 50px;
  margin-top: 15px;
}

#right .cardtd img,
#right .cardtd p {
  display: inline-block;
  vertical-align: middle;
}

#right .cardtd img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#right .cardtd p {
  width: 80%;
  font-size: 14px;
  line-height: 25px;
  float: right;
  color: #fff;
}

#right .cardtf {
  width: 80%;
  font-size: 12px;
  margin: 0.5rem 0;
  float: right;
  color: #ddd;
}